// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 14px;
    font-weight: normal;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    font-size: 13px;
    font-weight: bold;

    a {
        color: #555;
    }

    a:hover {
        color: #222;
    }

    small {
        float: left;
    }

    img.brand-icon {
        width: 17px;
        height: 17px;
    }
}

section.user_info {
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;

    .gravatar {
        float: none;
        max-width: 70px;
        border-radius: 50%;
    }
    h1 {
        font-size: 1.4em;
        margin-top: 15px;
        color: #555;
        margin-bottom: 3px;
    }
}
